{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#000" fill-opacity="50%" /></svg>

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Welcome to our site!</h1>
                    <p>Head to our shop to see our current stock.</p>
                    <p><a class="btn btn-lg btn-dark" href="{% url 'products' %}">Shop now</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#000" fill-opacity="50%" /></svg>

            <div class="container">
                <div class="carousel-caption">
                    <h1>The Winery Gazette</h1>
                    <p>Get to know us! Find out what we do and why we do it.</p>
                    <p><a class="btn btn-lg btn-dark" href="{% url 'the_gazette' %}">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#000" fill-opacity="50%" /></svg>

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Become a member</h1>
                    <p>Become a member of The Winery Club for the latest news and perks</p>
                    <p><a class="btn btn-lg btn-dark" href="{% url 'account_signup' %}">Create Account</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Wines</title>
                <a href="{% url 'products' %}?category=red_wine,white_wine,rose_wine">
                    <rect width="100%" height="100%" fill="#000" />
                    <defs>
                        <clipPath id="circleView">
                            <circle cx="140" cy="70" r="140" fill="#000" />
                        </clipPath>
                    </defs>
                    <image width="140" height="200"
                        href="https://the-winery.s3.amazonaws.com/media/red_and_white_wine.jpg"
                        clip-path="url(#circleView)" />
                </a>
            </svg>

            <h2 class="fw-normal fancy-text">Wines</h2>
            <p class="text-larger">Reds, whites and rosés sourced from the finest vignerons in Europe.</p>
            <hr>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Sparkling</title>
                <a href="{% url 'products' %}?category=sparkling">
                    <rect width="100%" height="100%" fill="#000" />
                    <defs>
                        <clipPath id="circleView">
                            <circle cx="140" cy="70" r="140" fill="#000" />
                        </clipPath>
                    </defs>
                    <image width="140" height="160" href="https://the-winery.s3.amazonaws.com/media/sparkling_wine.jpg"
                        clip-path="url(#circleView)" />
                </a>
            </svg>

            <h2 class="fw-normal fancy-text">Sparkling</h2>
            <p class="text-larger">From Champagnes to Proseccos they're sure to spark your interest.</p>
            <hr>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Other</title>
                <a href="{% url 'products' %}?category=other">
                    <rect width="100%" height="100%" fill="#000" />
                    <defs>
                        <clipPath id="circleView">
                            <circle cx="140" cy="70" r="140" fill="#000" />
                        </clipPath>
                    </defs>
                    <image width="140" height="110" href="https://the-winery.s3.amazonaws.com/media/brandy_wine.jpg"
                        clip-path="url(#circleView)" />
                </a>
            </svg>

            <h2 class="fw-normal fancy-text">Other</h2>
            <p class="text-larger">Porto, Dessert wines, Cognac, don't miss out on these lovely nightcaps.</p>
            <hr>

        </div><!-- /.col-lg-4 -->
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup {
                background: rgba(0, 0, 0, 0.4);
                clear: left;
                font-size: small;
                width: 600px;
            }

            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
            <form
                action="https://herokuapp.us9.list-manage.com/subscribe/post?u=fc472f5c26d41090840783138&amp;id=49891e06ed&amp;f_id=008805e1f0"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <h2>Subscribe to our newsletter</h2>

                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address</label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                    </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                            name="b_fc472f5c26d41090840783138_49891e06ed" tabindex="-1" value=""></div>
                    <div class="optionalParent">
                        <div class="clear foot">
                            <input type="submit" style="background: #1D7650;" value="Subscribe" name="subscribe"
                                id="mc-embedded-subscribe" class="button">
                            <p class="brandingLogo"><a href="http://eepurl.com/h-MyRL"
                                    title="Mailchimp - email marketing made easy and fun"><img
                                        src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>
            (function ($) {
                window.fnames = new Array();
                window.ftypes = new Array();
                fnames[0] = 'EMAIL';
                ftypes[0] = 'email';
                fnames[1] = 'FNAME';
                ftypes[1] = 'text';
                fnames[2] = 'LNAME';
                ftypes[2] = 'text';
                fnames[3] = 'ADDRESS';
                ftypes[3] = 'address';
                fnames[4] = 'PHONE';
                ftypes[4] = 'phone';
                fnames[5] = 'BIRTHDAY';
                ftypes[5] = 'birthday';
            }(jQuery));
            var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->
    </div><!-- /.row -->
    <!-- FOOTER -->
    <footer class="container col-md-4 d-flex justify-content-between">
        <a href="https://www.facebook.com" target="_blank" rel="noopener"
            aria-label="Find us on Facebook (link opens in a new tab)"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener"
            aria-label="Find us on Instagram (link opens in a new tab)"><i class="fab fa-instagram-square"></i></a>
        <a href="https://www.twitter.com" target="_blank" rel="noopener"
            aria-label="Find us on Twitter (link opens in a new tab)"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.youtube.com" target="_blank" rel="noopener"
            aria-label="Find us on Youtube (link opens in a new tab)"><i class="fab fa-youtube-square"></i></a>
    </footer>
</div><!-- /.container -->

{% endblock %}