{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card bg-dark">
        <div class="card-body p-4">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-7">
              <p>Order successfully processed! Your order number is {{ order.order_number }}. A confirmation email will be
                sent to {{ order.email} }.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
</section>
{% endblock %}