{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 fancy-text text-center">{{ user.username }}'s Winery account</h2>

        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center col">
            <a href="{% url 'account_logout' %}" class="btn btn-lg btn-dark text-white">Logout</a>
        </div>
    </div>
    <hr>
    <div class="row mt-4">
        <div class="col-12 col-lg-6 px-3 mb-4">
            <p>Address</p>
            <form class="mt-3" action="{% url 'account' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-dark mt-4">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6 px-3">
            <p>Order History</p>
            <div class="order-history table-responsive small">
                <table class="table table-sm table-borderless text-white">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li>{{ item.product.name }} x {{ item.quantity }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>€{{ order.total_cost }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row"></div>
    <div class="col">
        <hr>
        <h2 class="logo-font mb-4">Welcome to the accounts page! Kindly:</h2>
        <hr>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <a href="{% url 'account_login' %}" class="btn btn-lg btn-dark text-white">Login to my Winery account</a>
    </div>
    <div class="col">
        <a href="{% url 'account_signup' %}" class="btn btn-lg btn-dark text-white">Create a Winery account</a>
    </div>
</div>
{% endif %}
{% endblock %}