{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid mb-4">
    <div class="mt-3">
        <h5 class="mb-3"><a href="{% url 'products' %}" class="btn btn-lg text-white"><i
                    class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid rounded-circle" src="{{ product.image.url }}"
                        alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid rounded-circle" src="/media/no_image.jpeg"
                        alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ product.name }}</p>
                <p class="mb-0">{{ product.vintage }}, {{ product.country.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                <div class="row d-flex justify-content-between">
                    <div class="col">
                        {% if average %}
                        <small class="text-warning"><i class="fas fa-star mr-1"></i>{{ average }} /
                            5</small>
                        {% else %}
                        <small class="text-warning">No Rating</small>
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a class="text-success btn btn-sm btn-dark"
                                href="{% url 'edit_product' product.id %}">Edit</a> |
                            <a class="text-danger btn btn-sm btn-dark"
                                href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                        {% endif %}
                    </div>
                </div>
                <p class="mt-3">{{ product.description }}</p>
            </div>
            <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                {% csrf_token %}
                <div class="container d-flex">
                    <div class="form-group w-25">
                        <div class="input-group">

                            <input class="form-control qty_input" type="number" name="quantity" value="1" min="1"
                                max="6" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-dark ms-1" type="submit" value="Add to basket">Add to <i
                                class="fas fa-shopping-basket"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <h3 class="fancy-text text-center">Reviews</h3>
</div>
<div class="d-flex flex-column align-items-center">
<div class="card text-black col-md-6 mb-4 mt-3">
    <div class="card-body">
        <form action="{% url 'add_review' product.id %}" method="POST">
            {% csrf_token %}
            <label for="comment">Write a Review</label>
            <textarea name="comment" id="comment" cols="30" rows="5" class="form-control"></textarea>
            <label for="rating">Rating</label>
            <input type="range" id="rangeInput" name="rating" min="0" max="5" value="0" step="0.1"
                oninput="amount.value=rangeInput.value">
            <output name="amount" id="amount" for="rangeInput">0</output>
            <br>
            <input type="submit" class="btn btn-dark" value="Add Review">
        </form>
    </div>
</div>
<br>
<div class="card bg-dark col-md-4">
    <div class="card-body">
        {% for review in reviews %}
        <div class="row">
            <div class="col-md-3">
                <h5 class="text-muted">{{ review.user.username }}</h5>
                {% if review.rating %}
                <small class="text-warning"><i class="fas fa-star mr-1"></i>{{ review.rating }} / 5</small>
                {% else %}
                <small class="text-warning"><i class="fas fa-star mr-1"></i>No Rating</small>
                {% endif %}
                </div>
            <div class="col-md-9">
                <p>{{ review.comment }}</p>
            </div>
        </div>
        <div class="row text-end">
            <div class="col">
            </div>
            <div class="col">
        {% if request.user == review.user %}
        <small class="ml-3">
            <a class="text-success btn btn-sm btn-dark"
                href="{% url 'edit_review' product.id review.id %}">Edit</a> |
            <a class="text-danger btn btn-sm btn-dark"
                href="{% url 'delete_review' product.id review.id %}" onclick="return confirm('Are you sure want to delete your review?');">Delete</a>
        </small>
        </div>
        {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}